# Dependencies
node_modules/
package-lock.json

# files
edge_cases.md 
example_source.html
gpt_recommendation.js 
naming.md 
git_suggestions.md
BACKUP*

# Build outputs
bug_fixed_version/
old/
dist/
build/
icons/
ignore/
*.zip

# IDE and Editor files
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# Chrome Extension specific
*.pem
*.crx

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local